<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Argos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B02EA6B524B33A0B00CC3023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B02EA6CB24B33A0D00CC3023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B02EA6D624B33A0D00CC3023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
